.carritos{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0,0,0,0.6);
    z-index:2;
    padding-bottom: 5rem;
    visibility: hidden;
}

.carrito{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 50%;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    opacity:0;
    visibility: hidden;
}
.carrito h2{
    text-align: center;
    font-size: 28px;
}

.carritos.show{
    visibility: visible;
}

.carrito.show{
    transform: translate(-50%,-50%)
    scale(1.1);
    opacity: 1;
    visibility: visible;
}

.x{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 10px 0 0 10px;
}
.x:hover{
    color: crimson
}

.carrito_center{
    width: 90%;
    margin: 0 auto;
}
.carrito_item{
    display: grid;
    grid-template-columns: 2fr 0fr 0fr 1fr 1fr;
    margin: 1rem auto;
    box-shadow: 0 1px 10px rgb(68, 63, 63);
    border-radius: 5px;
}
.carrito_item h3{
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 1rem;
}
.carrito_item .price{
    color:black;
    font-size: 18px;
    text-align: start;
    font-weight: bold;
    margin-left: 1rem;
}
.mod{
    color: rgb(76, 80, 79);
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 22px 10px
}
.mod:hover{
    color: rgb(2, 98, 66);
}
.cantidad{
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold;
}
.footer{
    text-align: center;
    margin-bottom: 3rem;
}

.footer h3{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .x{
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transform: all 300ms ease-in-out;
        margin: 10px 0 0 10px;
    }
    .carrito{
        position:fixed;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 80%;
        border-radius: 8px;
        overflow-x: scroll;
        transition: all 300ms ease-in-out;
        background-color: white;
        opacity:0;
        visibility: hidden;
    }
}
